body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}
.container{
 min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  color: white;
  margin-bottom: 20px;
}

.header .nav-buttons {
  display: flex;
  gap: 15px;
}

.header a, .header button {
  color: white;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  padding: 20px;
}

.header a:hover, .header button:hover {
  color: #ddd;
}


.project-form {
  background: #fff;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.project-form .form-group {
  margin-bottom: 15px;
}

.project-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.project-form input,
.project-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.project-form textarea {
  height: 100px;
  resize: vertical; 
}

.project-form .btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.project-form .btn:hover {
  background-color: #0056b3;
}

.project-list {
  margin-top: 20px;
}

.project-item {
  background: #fff;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.project-item h3 {
  margin-top: 0;
}

.project-item .btn {
  margin-top: 10px;
  display: inline-block;
  margin-right: 10px;
}

.project-item .view-btn {
  background-color: #28a745;
  color: white;
}

.project-item .view-btn:hover {
  background-color: #212b88;
}

.project-item .edit-btn {
  background-color: #007bff;
  color: #fff;
}

.project-item .edit-btn:hover {
  background-color: #0056b3;
}

.project-item .delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.project-item .delete-btn:hover {
  background-color: #c82333;
}

.google-logout-btn {
    width: auto;
    height: auto;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    justify-content: space-between;
    margin-left: 0%;
}
.to-btn {
  background-color: #28a745;
  width: auto;
  height: auto;
  font-size: 14px;
  display: inline-block;
  margin-left: 50%;
}
.btnt {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.logout-btn {
  margin-left: 950%;
}
